body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:764px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:764px;
}
#u1 {
  position:absolute;
  left:888px;
  top:790px;
  width:136px;
  height:57px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:57px;
}
#u2 {
  position:absolute;
  left:2px;
  top:20px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u0_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:764px;
}
#u1.a {
}
