body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:900px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:900px;
}
#u1 {
  position:absolute;
  left:2px;
  top:442px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:100px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:100px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:464px;
  top:170px;
  width:352px;
  height:49px;
  font-family:'OpenSans-Semibold', 'Open Sans Semibold', 'Open Sans';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:49px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:464px;
  top:275px;
  width:320px;
  height:50px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:464px;
  top:250px;
  width:70px;
  height:19px;
  font-family:'OpenSans-Semibold', 'Open Sans Semibold', 'Open Sans';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:464px;
  top:375px;
  width:320px;
  height:50px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:464px;
  top:350px;
  width:67px;
  height:19px;
  font-family:'OpenSans-Semibold', 'Open Sans Semibold', 'Open Sans';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:38px;
  top:855px;
  width:111px;
  height:15px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:464px;
  top:500px;
  width:320px;
  height:60px;
  font-family:'OpenSans-Semibold', 'Open Sans Semibold', 'Open Sans';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u14_img.disabled {
}
#u14.disabled {
  opacity:0.5;
}
#u15 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:606px;
  top:593px;
  width:177px;
  height:17px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  color:#40B3B2;
  text-align:right;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:17px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:464px;
  top:470px;
  width:213px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u19 {
  position:absolute;
  left:16px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u18_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20 {
  position:absolute;
  left:20px;
  top:20px;
  width:352px;
  height:24px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:24px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u4.a {
}
#u6.a {
  position:absolute;
  left:464px;
  top:275px;
  width:320px;
  height:50px;
}
#u6_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7.a {
}
#u9.a {
  position:absolute;
  left:464px;
  top:375px;
  width:320px;
  height:50px;
}
#u9_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10.a {
}
#u12.a {
}
#u14.a {
}
#u16.a {
}
#u18.a {
}
#u18_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19.a {
}
#u20.a {
}
