body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:821px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:821px;
}
#u1 {
  position:absolute;
  left:2px;
  top:402px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:831px;
  width:250px;
  height:59px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:59px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
