body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:980px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:980px;
}
#u1 {
  position:absolute;
  left:2px;
  top:482px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:349px;
  top:129px;
  width:83px;
  height:83px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
}
#u3 {
  position:absolute;
  left:2px;
  top:34px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:436px;
  top:132px;
  width:129px;
  height:53px;
  font-family:'NokiaPureHeadline-Light', 'Nokia Pure Headline Light', 'Nokia Pure Headline';
  font-weight:200;
  font-style:normal;
  font-size:38px;
  color:#00C9FF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:53px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:560px;
  top:127px;
  width:40px;
  height:19px;
  font-family:'NokiaPureHeadline-Light', 'Nokia Pure Headline Light', 'Nokia Pure Headline';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#00C9FF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:17px;
  width:140px;
  height:12px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:12px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-2px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:440px;
  top:180px;
  width:135px;
  height:77px;
  font-family:'NokiaPureHeadline-UltraLight', 'Nokia Pure Headline Ultra Light', 'Nokia Pure Headline';
  font-weight:100;
  font-style:normal;
  font-size:20px;
  color:#BEC8D2;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:77px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:760px;
  top:11px;
  width:80px;
  height:22px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#BEC8D2;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:77px;
  top:1044px;
  width:750px;
  height:61px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-style:normal;
  font-size:45px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:61px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:977px;
  width:960px;
  height:263px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:263px;
}
#u17 {
  position:absolute;
  left:2px;
  top:124px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:108px;
  top:1170px;
  width:750px;
  height:19px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:658px;
  top:632px;
  width:135px;
  height:49px;
  font-family:'NokiaPureHeadline-UltraLight', 'Nokia Pure Headline Ultra Light', 'Nokia Pure Headline';
  font-weight:100;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#BEC8D2;
  text-align:left;
  line-height:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:49px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1644px;
  top:295px;
  width:293px;
  height:60px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#08265E;
  text-align:left;
  line-height:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:60px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1644px;
  top:367px;
  width:293px;
  height:80px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#08265E;
  text-align:left;
  line-height:normal;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:80px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1644px;
  top:481px;
  width:293px;
  height:60px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#08265E;
  text-align:left;
  line-height:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:60px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:860px;
  top:10px;
  width:80px;
  height:26px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#00C9FF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
}
#u29 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:19px;
  top:861px;
  width:229px;
  height:199px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:199px;
}
#u31 {
  position:absolute;
  left:2px;
  top:92px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:250px;
  top:861px;
  width:229px;
  height:199px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:199px;
}
#u33 {
  position:absolute;
  left:2px;
  top:92px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:481px;
  top:861px;
  width:229px;
  height:199px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:199px;
}
#u35 {
  position:absolute;
  left:2px;
  top:92px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:712px;
  top:861px;
  width:229px;
  height:199px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:199px;
}
#u37 {
  position:absolute;
  left:2px;
  top:92px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:300px;
  top:350px;
  width:360px;
  height:50px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#00C9FF;
  text-align:center;
  line-height:normal;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u39 {
  position:absolute;
  left:2px;
  top:13px;
  width:356px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:126px;
  top:270px;
  width:709px;
  height:58px;
  font-family:'NokiaPureHeadline-UltraLight', 'Nokia Pure Headline Ultra Light', 'Nokia Pure Headline';
  font-weight:100;
  font-style:normal;
  font-size:42px;
  color:#FFFFFF;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:709px;
  height:58px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:709px;
  word-wrap:break-word;
}
#u42 {
  position:fixed;
  left:50%;
  margin-left:-201px;
  top:50%;
  margin-top:-250px;
  width:402px;
  height:500px;
  overflow:hidden;
}
#u42_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:500px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u42_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:500px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:500px;
}
#u44 {
  position:absolute;
  left:2px;
  top:242px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:40px;
  top:70px;
  width:350px;
  height:341px;
  overflow:hidden;
}
#u45_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:341px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u45_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u46 {
  position:absolute;
  left:10px;
  top:0px;
  width:310px;
  height:38px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:38px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:10px;
  top:53px;
  width:310px;
  height:57px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:57px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:10px;
  top:153px;
  width:340px;
  height:77px;
  overflow:hidden;
}
#u50_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:77px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'OpenSans-Semibold', 'Open Sans Semibold', 'Open Sans';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:6px;
  top:37px;
  width:40px;
  height:40px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u54 {
  position:absolute;
  left:56px;
  top:37px;
  width:71px;
  height:40px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u55 {
  position:absolute;
  left:135px;
  top:37px;
  width:71px;
  height:40px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u56 {
  position:absolute;
  left:214px;
  top:37px;
  width:80px;
  height:40px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u57 {
  position:absolute;
  left:14px;
  top:260px;
  width:306px;
  height:46px;
  font-family:'OpenSans-Semibold', 'Open Sans Semibold', 'Open Sans';
  font-weight:650;
  font-style:normal;
  font-size:23px;
  color:#00C9FF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:46px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:302px;
  word-wrap:break-word;
}
#u45_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:341px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u45_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u59 {
  position:absolute;
  left:10px;
  top:0px;
  width:310px;
  height:38px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:38px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:10px;
  top:53px;
  width:310px;
  height:76px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:76px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:264px;
  top:14px;
  width:119px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#0099FF;
  text-align:right;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:21px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:264px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  width:320px;
  height:990px;
}
#u0_img.a {
  width:320px;
  height:990px;
}
#u1.a {
  top:487px;
  width:316px;
}
#u2.a {
  left:88px;
  top:62px;
  width:45px;
  height:45px;
}
#u2_img.a {
  width:45px;
  height:45px;
}
#u3.a {
  top:14px;
  width:41px;
}
#u4.a {
  left:134px;
  top:60px;
  width:79px;
  height:32px;
}
#u4_img.a {
  width:79px;
  height:32px;
}
#u5.a {
  width:79px;
}
#u6.a {
  left:213px;
  top:62px;
  width:15px;
  height:7px;
}
#u6_img.a {
  width:15px;
  height:7px;
}
#u7.a {
  width:15px;
}
#u8.a {
  left:115px;
  top:10px;
  width:90px;
  height:8px;
}
#u8_img.a {
  width:90px;
  height:8px;
}
#u9.a {
  top:-4px;
  width:86px;
}
#u10.a {
  left:-56px;
  top:-303px;
  width:299px;
  height:99px;
}
#u10_img.a {
  width:299px;
  height:99px;
}
#u11.a {
  width:299px;
}
#u12.a {
}
#u12_img.a {
}
#u13.a {
}
#u14.a {
  left:30px;
  top:632px;
  width:260px;
  height:72px;
}
#u14_img.a {
  width:260px;
  height:72px;
}
#u15.a {
  width:260px;
}
#u16.a {
  top:990px;
  width:320px;
  height:110px;
}
#u16_img.a {
  width:320px;
  height:110px;
}
#u17.a {
  top:47px;
  width:316px;
}
#u18.a {
  left:56px;
  top:1032px;
  width:197px;
  height:28px;
}
#u18_img.a {
  width:197px;
  height:28px;
}
#u19.a {
  width:197px;
}
#u20.a {
  left:134px;
  top:90px;
  width:81px;
  height:19px;
}
#u20_img.a {
  width:81px;
  height:19px;
}
#u21.a {
  width:81px;
}
#u22.a {
  left:69px;
  top:292px;
  width:220px;
}
#u22_img.a {
  width:220px;
}
#u23.a {
  width:220px;
}
#u24.a {
  left:69px;
  top:346px;
  width:220px;
}
#u24_img.a {
  width:220px;
}
#u25.a {
  width:220px;
}
#u26.a {
  left:69px;
  top:439px;
  width:220px;
}
#u26_img.a {
  width:220px;
}
#u27.a {
  width:220px;
}
#u28.a {
}
#u28_img.a {
}
#u29.a {
}
#u30.a {
  left:10px;
  top:788px;
  width:145px;
  height:170px;
}
#u30_img.a {
  width:145px;
  height:170px;
}
#u31.a {
  top:77px;
  width:141px;
}
#u32.a {
  left:164px;
  top:788px;
  width:145px;
  height:170px;
}
#u32_img.a {
  width:145px;
  height:170px;
}
#u33.a {
  top:77px;
  width:141px;
}
#u34.a {
  left:10px;
  top:610px;
  width:145px;
  height:170px;
}
#u34_img.a {
  width:145px;
  height:170px;
}
#u35.a {
  top:77px;
  width:141px;
}
#u36.a {
  left:164px;
  top:610px;
  width:145px;
  height:170px;
}
#u36_img.a {
  width:145px;
  height:170px;
}
#u37.a {
  top:77px;
  width:141px;
}
#u38.a {
  left:40px;
  top:270px;
  width:230px;
}
#u38_img.a {
  width:230px;
}
#u39.a {
  width:226px;
}
#u40.a {
  left:26px;
  top:133px;
  width:268px;
  height:63px;
}
#u40_img.a {
  width:268px;
  height:63px;
}
#u41.a {
  width:268px;
}
#u42.a {
  position:fixed;
  left:50%;
  margin-left:-140px;
  top:50%;
  margin-top:-200px;
  width:280px;
  height:400px;
  overflow:hidden;
}
#u43.a {
  width:280px;
  height:401px;
}
#u43_img.a {
  width:280px;
  height:401px;
}
#u44.a {
  top:192px;
  width:276px;
}
#u45.a {
  position:absolute;
  left:10px;
  top:50px;
  width:260px;
  height:331px;
}
#u46.a {
  left:14px;
  top:29px;
  width:240px;
  height:27px;
}
#u46_img.a {
  width:240px;
  height:27px;
}
#u47.a {
  width:240px;
}
#u48.a {
  left:15px;
  top:62px;
  width:230px;
  height:42px;
}
#u48_img.a {
  width:230px;
  height:42px;
}
#u49.a {
  width:230px;
}
#u50.a {
  position:absolute;
  left:10px;
  top:153px;
  width:244px;
  height:77px;
}
#u51.a {
  width:110px;
  height:19px;
}
#u51_img.a {
  width:110px;
  height:19px;
}
#u52.a {
  width:110px;
}
#u53.a {
  position:absolute;
  left:4px;
  top:36px;
  width:33px;
  height:40px;
}
#u53_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:40px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u54.a {
  position:absolute;
  left:45px;
  top:36px;
  width:58px;
  height:40px;
}
#u54_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:40px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u55.a {
  position:absolute;
  left:109px;
  top:36px;
  width:58px;
  height:40px;
}
#u55_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:40px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u56.a {
  position:absolute;
  left:174px;
  top:36px;
  width:65px;
  height:40px;
}
#u56_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:40px;
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u50_state0.a {
  width:244px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u57.a {
  left:20px;
  top:261px;
  width:220px;
  height:36px;
}
#u57_img.a {
  width:220px;
  height:36px;
}
#u58.a {
  top:4px;
  width:216px;
}
#u59.a {
  width:240px;
  height:36px;
}
#u59_img.a {
  width:240px;
  height:36px;
}
#u60.a {
  width:240px;
}
#u61.a {
  width:240px;
  height:68px;
}
#u61_img.a {
  width:240px;
  height:68px;
}
#u62.a {
  width:240px;
}
#u45_state0.a {
  width:260px;
  height:331px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u45_state1.a {
  width:260px;
  height:331px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u63.a {
  left:140px;
}
#u63_img.a {
}
#u64.a {
}
#u42_state0.a {
  width:280px;
  height:400px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
