body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:48px;
  width:375px;
  height:1024px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1024px;
}
#u1 {
  position:absolute;
  left:2px;
  top:504px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:15px;
  top:48px;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1024px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1024px;
}
#u4 {
  position:absolute;
  left:2px;
  top:504px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:129px;
  width:330px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1024px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1024px;
}
#u7 {
  position:absolute;
  left:2px;
  top:504px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:129px;
  width:330px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
}
#u10 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:fixed;
  left:0px;
  top:0px;
}
#u11_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u11_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
}
#u13 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:122px;
  top:57px;
}
#u14_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u14_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:38px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:38px;
}
#u16 {
  position:absolute;
  left:2px;
  top:11px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u11_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
}
#u18 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:10px;
  top:1072px;
  width:370px;
  height:67px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:67px;
}
#u20 {
  position:absolute;
  left:2px;
  top:26px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:fixed;
  left:0px;
  bottom:0px;
}
#u21_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u21_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:77px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:77px;
}
#u23 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:10px;
  top:32px;
  visibility:hidden;
}
#u24_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:40px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u24_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:40px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:15px;
  top:580px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
  position:absolute;
  left:15px;
  top:48px;
}
#u3.a {
}
#u5.a {
}
#u6.a {
}
#u8.a {
}
#u9.a {
}
#u11.a {
  position:fixed;
  left:0px;
  top:0px;
  width:375px;
  height:95px;
}
#u12.a {
}
#u14.a {
  position:absolute;
  left:122px;
  top:57px;
}
#u15.a {
}
#u17.a {
}
#u19.a {
}
#u21.a {
  position:fixed;
  left:0px;
  bottom:0px;
  width:375px;
  height:77px;
}
#u22.a {
}
#u24.a {
  position:absolute;
  left:10px;
  top:32px;
}
#u25.a {
}
#u27.a {
}
#u29.a {
}
